@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model DemoWebApplication.Components.OnScreenViewModel


@if (Model.IsOnscreenMode)
{
  <div id="sidebarplaceholder"></div>
  <environment names="Development">
    <script type="text/javascript">
      window.onScreenAdminBaseUrl = '@(Model.AdminSiteBaseUrl)';
    </script>
    <script src="@($"{Model.AdminSiteBaseUrl}/onScreenLoader.js")" defer></script>
  </environment>
  <environment names="Staging,Production">
    <script type="text/javascript">
      window.onScreenAdminBaseUrl = '@(Model.AdminSiteBaseUrl)';
    </script>
    <script src="@($"{Model.AdminSiteBaseUrl}/onScreenLoader.js")" defer></script>
  </environment>
  
}
