@using QA.DotNetCore.Engine.Widgets
@model QA.DemoSite.Models.Pages.TextPage

<div class="guides-layout__content">
  <section class="guides">
    @await Component.RenderZonesInText(Html, Model.Text)
  </section>
</div>
