<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <NUnit>
    <InternalTraceLevel>Verbose</InternalTraceLevel>
  </NUnit>
  <!-- Parameters used by tests at runtime -->
  <TestRunParameters>
    <Parameter name="wp_test_ci_dbserver" value="#{pg.server}#" />
    <Parameter name="wp_test_ci_dbname" value="#{pg.testdb.name}#" />
    <Parameter name="wp_test_ci_pg_login" value="#{pg.login}#" />
    <Parameter name="wp_test_ci_pg_password" value="#{pg.password}#" />
  </TestRunParameters>
</RunSettings>
