@using QA.DotNetCore.Engine.Widgets

@model DemoWebSite.PagesAndWidgets.Widgets.NewsWidget
 
@Html.Raw(Model.Title)

<p>Count:</p>
<p>@(Model.Count)</p>
<p>NewsPageId:</p>
<p>@(Model.NewsPageId)</p>

@if (Model.CategoryIds.Any())
{
  <p>CategoryIds:</p>
  <ul>
    @foreach (var id in Model.CategoryIds)
    {
      <li>@id</li>
    }
  </ul>
}

@await Component.WidgetZone(Html, "Content")
